{% extends 'base.html' %}

{% block title %}Объявления{% endblock %}

{% block content %}
<h1>Все объявления</h1>

{% if car_list %}
    <ul>
        {% for car in car_list %}
            <li>
                <a href="{% url 'carsite:car_detail' car.id %}">
                    {{ car }}
                </a>
                {% if user.is_authenticated %}
                    {% if user == car.user or user.role == 'moderator' %}
                        | <a href="{% url 'carsite:car_edit' car.id %}">Редактировать</a>
                        | <a href="{% url 'carsite:car_delete' car.id %}">Удалить</a>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Нет объявлений.</p>
{% endif %}

{% if user.is_authenticated %}
    <p><a href="{% url 'carsite:car_create' %}">Добавить объявление</a></p>
{% endif %}
{% endblock %}