{% extends 'base.html' %}

{% block title %}Автокуп — Новости и объявления{% endblock %}

{% block content %}
<h1>Добро пожаловать на Автокуп!</h1>
<p>Сайт об автомобилях: новости, объявления, общение.</p>
<ul>
    <li><a href="{% url 'carsite:car_list' %}">Посмотреть все объявления</a></li>
    <li><a href="{% url 'carsite:news_list' %}">Читать последние новости</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'carsite:car_create' %}">Добавить объявление</a></li>
    {% endif %}
    {% if user.is_authenticated and user.role == 'moderator' %}
        <li><a href="{% url 'carsite:news_create' %}">Написать новость</a></li>
    {% endif %}
</ul>
{% endblock %}